*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared css */

.paragraph-style{
    font-size: 1rem;
    line-height: 1.5rem;
}

/* nav related css */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 3.2rem;
}

.navbar{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.brand-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.menu{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.menu-links a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #424242;
    line-height: 1.5rem;
}

@media  screen and (max-width: 576px) {
    header{
        padding: 1.5rem;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1.3rem;
        gap: 1.2rem;
    }

    .brand-title{
        font-size: 2.5rem;
    }
    .menu{
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar{
        flex-direction: column;
        gap: 2.2rem;
        padding: 0 2rem;
    }
}